In [2]:
import pandas as pd
from google.cloud import bigquery
from pandas_gbq import gbq
import os
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'key.json'

In [3]:
bigquery_client = bigquery.Client()
query = "SELECT * FROM `lab1-449822.walmartsales.sales` LIMIT 1000"
query_result = bigquery_client.query(query)
df = query_result.to_dataframe()

C:\Users\apoor\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages\google\cloud\bigquery\table.py:1900: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [ ]:
df.head()

,SalesID,SalesPersonID,CustomerID,ProductID,Quantity,Discount,SalesDate,TransactionNumber
0,838943,16,143,1,1,5.0,2018-01-01 00:41:51.330000+00:00,TSVW2S4SUUFMDUKKXWO2
1,2203417,1,164,1,1,0.0,2018-02-24 08:31:11.840000+00:00,3HR6LZHP9WHJO7UV3ZNC
2,5475095,8,169,1,1,10.0,2018-01-13 13:05:55.010000+00:00,MQRCWZJGHBUHS59WOHBX
3,5871889,1,304,1,1,5.0,2018-04-17 20:33:35.630000+00:00,1RZRPXZDAA0NPKEXNQV6
4,920154,1,334,1,1,10.0,2018-04-11 18:10:33.410000+00:00,TKL7HSQOYXI9MU4ZWY6K

In [4]:
df['SalesDate'] = pd.to_datetime(df['SalesDate']).dt.date
df.head()

   SalesID  SalesPersonID  ...   SalesDate     TransactionNumber
0   838943             16  ...  2018-01-01  TSVW2S4SUUFMDUKKXWO2
1  2203417              1  ...  2018-02-24  3HR6LZHP9WHJO7UV3ZNC
2  5475095              8  ...  2018-01-13  MQRCWZJGHBUHS59WOHBX
3  5871889              1  ...  2018-04-17  1RZRPXZDAA0NPKEXNQV6
4   920154              1  ...  2018-04-11  TKL7HSQOYXI9MU4ZWY6K

[5 rows x 8 columns]

In [5]:
try:
    df.to_gbq(
    destination_table='walmartsales.modified_sales', 
    project_id='lab1-449822',            
    if_exists='fail', 
)
except gbq.TableCreationError as e:
    if "Already Exist" in str(e):
        print("The Table Already Exists")
    else:
        raise

C:\Users\apoor\AppData\Local\Temp\ipykernel_18516\1918478572.py:2: FutureWarning: to_gbq is deprecated and will be removed in a future version. Please use pandas_gbq.to_gbq instead: https://pandas-gbq.readthedocs.io/en/latest/api.html#pandas_gbq.to_gbq
  df.to_gbq(

The Table Already Exists