In [2]:
import pandas as pd
from google.cloud import bigquery
import os
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'key.json'

In [3]:
bigquery_client = bigquery.Client()
query = "SELECT * FROM `lab1-449822.walmartsales.sales` LIMIT 1000"
query_result = bigquery_client.query(query)
df = query_result.to_dataframe()

c:\Users\apoor\anaconda3\Lib\site-packages\google\cloud\bigquery\table.py:1820: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [4]:
df.head()

,SalesID,SalesPersonID,CustomerID,ProductID,Quantity,Discount,SalesDate,TransactionNumber
0,5009989,8,187,1,1,20.0,2018-04-18 11:01:41.650000+00:00,NJXO9OMASAZ70EN5PLD6
1,2392053,16,373,1,1,10.0,2018-02-11 18:50:31.420000+00:00,WAMOVNOI65788AF1OTGF
2,3431847,8,374,1,1,10.0,2018-01-03 23:01:14.080000+00:00,X91RH0YQ1OASUEKUHBRI
3,117790,16,639,1,1,5.0,2018-04-10 23:23:13.520000+00:00,P5CHR7HVJJYLE1UZCK37
4,6256350,8,717,1,1,10.0,2018-04-07 07:47:29.460000+00:00,O1N0P8SGIFM7Y0JJJCJI

In [5]:
df['SalesDate'] = pd.to_datetime(df['SalesDate']).dt.date
df.head()

,SalesID,SalesPersonID,CustomerID,ProductID,Quantity,Discount,SalesDate,TransactionNumber
0,5009989,8,187,1,1,20.0,2018-04-18,NJXO9OMASAZ70EN5PLD6
1,2392053,16,373,1,1,10.0,2018-02-11,WAMOVNOI65788AF1OTGF
2,3431847,8,374,1,1,10.0,2018-01-03,X91RH0YQ1OASUEKUHBRI
3,117790,16,639,1,1,5.0,2018-04-10,P5CHR7HVJJYLE1UZCK37
4,6256350,8,717,1,1,10.0,2018-04-07,O1N0P8SGIFM7Y0JJJCJI

In [6]:
df.to_gbq(
    destination_table='walmartsales.modified_sales', 
    project_id='lab1-449822',            
    if_exists='fail', 
)

C:\Users\apoor\AppData\Local\Temp\ipykernel_15412\551706805.py:1: FutureWarning: to_gbq is deprecated and will be removed in a future version. Please use pandas_gbq.to_gbq instead: https://pandas-gbq.readthedocs.io/en/latest/api.html#pandas_gbq.to_gbq
  df.to_gbq(
100%|██████████| 1/1 [00:00<00:00, 1005.11it/s]