In [7]:
import pandas as pd
import numpy as np
from google.cloud import bigquery
from pandas_gbq import gbq
import os
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'key.json'

In [20]:
bigquery_client = bigquery.Client()
with open("final_query.sql", 'r') as file:
    query = file.read()
query_result = bigquery_client.query(query)
df_sales = query_result.to_dataframe()

C:\Users\apoor\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages\google\cloud\bigquery\table.py:1900: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [3]:
df_sales.head()

,SalesID,CustomerID,ProductID,quantity,Discount,SalesDate,CityName,ProductName,Price,Class,Resistant,CategoryName
0,2649646,3,1,1,20.0,2018-02-07 05:06:27.130000+00:00,Houston,Flour - Whole Wheat,74.2988,Medium,Durable,Cereals
1,1366274,151,1,1,10.0,2018-02-02 19:25:45.080000+00:00,Indianapolis,Flour - Whole Wheat,74.2988,Medium,Durable,Cereals
2,1321612,170,1,1,5.0,2018-01-28 13:11:11.170000+00:00,Cincinnati,Flour - Whole Wheat,74.2988,Medium,Durable,Cereals
3,5403945,251,1,1,5.0,2018-05-03 14:48:29.220000+00:00,Philadelphia,Flour - Whole Wheat,74.2988,Medium,Durable,Cereals
4,5791173,272,1,1,10.0,2018-02-17 13:23:35.920000+00:00,Detroit,Flour - Whole Wheat,74.2988,Medium,Durable,Cereals

In [4]:
df_sales.head()

,SalesID,CustomerID,ProductID,quantity,Discount,SalesDate,CityName,ProductName,Price,Class,Resistant,CategoryName
0,2649646,3,1,1,20.0,2018-02-07 05:06:27.130000+00:00,Houston,Flour - Whole Wheat,74.2988,Medium,Durable,Cereals
1,1366274,151,1,1,10.0,2018-02-02 19:25:45.080000+00:00,Indianapolis,Flour - Whole Wheat,74.2988,Medium,Durable,Cereals
2,1321612,170,1,1,5.0,2018-01-28 13:11:11.170000+00:00,Cincinnati,Flour - Whole Wheat,74.2988,Medium,Durable,Cereals
3,5403945,251,1,1,5.0,2018-05-03 14:48:29.220000+00:00,Philadelphia,Flour - Whole Wheat,74.2988,Medium,Durable,Cereals
4,5791173,272,1,1,10.0,2018-02-17 13:23:35.920000+00:00,Detroit,Flour - Whole Wheat,74.2988,Medium,Durable,Cereals

In [21]:
df_sales["TotalSales"] = df_sales["quantity"]*df_sales["Price"]
df_sales.head()

,SalesID,CustomerID,ProductID,quantity,Discount,SalesDate,CityName,ProductName,Price,Class,Resistant,CategoryName,TotalSales
0,2649646,3,1,1,20.0,2018-02-07 05:06:27.130000+00:00,Houston,Flour - Whole Wheat,74.2988,Medium,Durable,Cereals,74.2988
1,1366274,151,1,1,10.0,2018-02-02 19:25:45.080000+00:00,Indianapolis,Flour - Whole Wheat,74.2988,Medium,Durable,Cereals,74.2988
2,1321612,170,1,1,5.0,2018-01-28 13:11:11.170000+00:00,Cincinnati,Flour - Whole Wheat,74.2988,Medium,Durable,Cereals,74.2988
3,5403945,251,1,1,5.0,2018-05-03 14:48:29.220000+00:00,Philadelphia,Flour - Whole Wheat,74.2988,Medium,Durable,Cereals,74.2988
4,5791173,272,1,1,10.0,2018-02-17 13:23:35.920000+00:00,Detroit,Flour - Whole Wheat,74.2988,Medium,Durable,Cereals,74.2988

In [24]:
date_chnaged = pd.to_datetime(df_sales['SalesDate']).dt.date
df_sales['SalesDate'] = date_chnaged
df_sales.head()

,SalesID,CustomerID,ProductID,quantity,Discount,SalesDate,CityName,ProductName,Price,Class,Resistant,CategoryName,TotalSales
0,2649646,3,1,1,20.0,2018-02-07,Houston,Flour - Whole Wheat,74.2988,Medium,Durable,Cereals,74.2988
1,1366274,151,1,1,10.0,2018-02-02,Indianapolis,Flour - Whole Wheat,74.2988,Medium,Durable,Cereals,74.2988
2,1321612,170,1,1,5.0,2018-01-28,Cincinnati,Flour - Whole Wheat,74.2988,Medium,Durable,Cereals,74.2988
3,5403945,251,1,1,5.0,2018-05-03,Philadelphia,Flour - Whole Wheat,74.2988,Medium,Durable,Cereals,74.2988
4,5791173,272,1,1,10.0,2018-02-17,Detroit,Flour - Whole Wheat,74.2988,Medium,Durable,Cereals,74.2988

In [6]:
# df_sales.to_gbq(
# destination_table='walmartsales.sales_updated', 
# project_id='lab1-449822',            
# if_exists='replace',)